body {
  font-family: Merriweather, serif;
}

table {
  border-collapse: collapse;
  margin: 1em auto;
}

table td,
table th {
  padding: 0.2em 0.6em;
  text-align: center;
}

table td {
  border: 1px solid #767676;
  border-color: var(--main-text-color);
}

table th {
  font-weight: normal;
}

header {
  height: 5em;
  position: relative;
}

header h1 {
  bottom: 0;
  font-size: 2.8em;
  font-weight: bold;
  left: 0;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: absolute;
}

header h1 a {
  text-transform: lowercase;
}

header a {
  text-decoration: none;
}

header nav {
  bottom: 0;
  position: absolute;
  right: 0;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

header nav ul li {
  display: inline;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.4;
  margin-left: .5em;
  padding: 0;
}

main h1,
main h2,
main h3 {
  font-family: "source sans pro",
               AvenirNextCondensed-Medium,
               HelveticaNeue-CondensedBold , "Droid Sans", Helvetica, Arial, sans-serif;
}

main h1 {
  border-bottom: 1px solid #74c2c5;
  border-color: var(--main-accent-color);
  padding-bottom: 0.25em;
}

main h2 {
  color: #54a2a5;
  color: var(--main-accent-color-dark);
}

main img {
  max-width: 100%
}

footer {
  margin: 4em 0;
}

.blog-post {
  margin-bottom: 4em;
}

.footnotes {
  margin-top: 2em;
}

.footnotes hr {
  border: none;
  border-top: 1px solid #74c2c5;
  border-color: var(--main-accent-color);
}

.list h1 {
  border-bottom: none;
}

.meta {
  margin-top: 0;
}

.pagination {
  display: flex;
  justify-content: center;
}
