:root {
  --main-text-color: hsla(0, 0%, 46%, 1);  /* #767676, as used in logo */
  --dark-text-color: hsla(0, 0%, 35%, 1);  /* for the contrast ratio of 7 */
  --main-text-hover-color: hsla(182, 41%, 61%, 1); /* #74c2c5 */
  --dark-text-hover-color: hsla(182, 41%, 61%, 1);
  --main-accent-color: hsla(182, 41%, 61%, 1);
  --main-accent-color-dark: hsla(182, 33%, 49%, 1); /* #54a2a5 */
  box-sizing: border-box;
  font-size: 1rem;  /* the browser's default is 16px = 1rem */
  /* font-size: max(min(2vw, 2em), 1rem); */
}

*,
::before,
::after {
  box-sizing: inherit;
}

@font-face {
  font-family: MyUniverse;
  src: url('/font/univers-lightultracondensed-webfont.woff') format('woff');
  font-display: swap;
}

body {
  /* color: #767676;  fallback if the browser does not understand var */
  color: var(--dark-text-color);
  font-family: 'Open Sans', sans-serif;
  width: calc(100vw);
}

@media (min-width: 35em) {
  body {
    /* This is a trick to avoid the page to shift based on the
       visibility of scroll bar */
    width: calc(100vw - 34px);
  }
}

a {
  color: var(--dark-text-color);
  text-decoration: underline;
}

a:hover {
  color: var(--dark-text-hover-color);
}

h1,
h2,
h3 {
  color: var(--main-text-color);
  font-family: MyUniverse;
}

h2 {
  font-size: 1.8em;
  padding: 0.5em 0 0.25em;
}

h3 {
  font-size: 1.8em;
  padding: 0.5em 0 0.25em;
}

.centered {
  text-align: center;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.flex {
  display: flex;
}

.smaller-text {
  font-size: .85em;
}

.media--center {
  text-align: center;
  width: 100%;
}

.media--center img {
  height: 6.5em;
}

.media--center h3 {
  padding-top: 0.25em;
}


::-webkit-scrollbar {
  background: #ededed;
  height: 0.75em;
  width: 0.75em;
}

::-webkit-scrollbar-thumb {
  background: var(--main-accent-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-accent-color-dark);
}
